<nav aria-label="Navegación privada" class="navigation-menu">
  <span class="navigation-menu__label">Menú privado</span>
  <a mat-button routerLink="/dashboard" routerLinkActive="navigation-menu__link--active">Dashboard</a>
  <a mat-button routerLink="/galeria" routerLinkActive="navigation-menu__link--active">Galería</a>
  <a mat-button routerLink="/crud" routerLinkActive="navigation-menu__link--active">CRUD</a>
  <a mat-button routerLink="/profile" routerLinkActive="navigation-menu__link--active">Perfil</a>
</nav>
